/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-display {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-mono {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* animations */
.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-right-keys {
  100% {
    transform: translateX(0%);
  }
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  @apply text-indigo-300 bg-indigo-950/50 border-indigo-500;
}
.alert-warning {
  @apply text-yellow-300 bg-yellow-950/50 border-yellow-500;
}
.alert-danger {
  @apply text-red-300 bg-red-950/50 border-red-500;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  display: inline-block;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

/* .phx-loading {
  cursor: wait;
} */

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);
}

.phx-modal-content {
  background-color: #000;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #94a3b8;
  width: 80%;
}

.phx-modal-close {
  color: #64748b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  @apply bg-background text-foreground;
}

::selection {
  @apply bg-primary text-primary-foreground;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(var(--background)) inset !important;
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
}

@layer base {
  :root {
    --background: 255 0% 95%;
    --foreground: 255 0% 0%;
    --card: 255 0% 90%;
    --card-foreground: 255 0% 10%;
    --popover: 255 0% 95%;
    --popover-foreground: 255 95% 0%;
    --primary: 161 93.5% 30.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 217 10% 85%;
    --muted-foreground: 255 0% 35%;
    --accent: 217 10% 80%;
    --accent-foreground: 255 0% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 75% 15%;
    --destructive-50: 0 75% 15%;
    --destructive-100: 0 63% 31%;
    --destructive-200: 0 70% 35%;
    --destructive-300: 0 74% 42%;
    --destructive-400: 0 72% 51%;
    --destructive-500: 0 84% 60%;
    --destructive-600: 0 91% 71%;
    --destructive-700: 0 94% 82%;
    --destructive-800: 0 96% 89%;
    --destructive-900: 0 93% 94%;
    --destructive-950: 0 86% 97%;
    --success: 160 84% 39%;
    --success-foreground: 166 91% 9%;
    --success-50: 166 91% 9%;
    --success-100: 164 86% 16%;
    --success-200: 163 88% 20%;
    --success-300: 163 94% 24%;
    --success-400: 161 94% 30%;
    --success-500: 160 84% 39%;
    --success-600: 158 64% 52%;
    --success-700: 156 72% 67%;
    --success-800: 152 76% 80%;
    --success-900: 149 80% 90%;
    --success-950: 152 81% 96%;
    --warning: 38 92% 50%;
    --warning-foreground: 21 92% 14%;
    --warning-50: 21 92% 14%;
    --warning-100: 22 78% 26%;
    --warning-200: 23 83% 31%;
    --warning-300: 26 90% 37%;
    --warning-400: 32 95% 44%;
    --warning-500: 38 92% 50%;
    --warning-600: 43 96% 56%;
    --warning-700: 46 97% 65%;
    --warning-800: 48 97% 77%;
    --warning-900: 48 96% 89%;
    --warning-950: 48 100% 96%;
    --border: 255 20% 50%;
    --input: 255 20% 18%;
    --ring: 161 93.5% 30.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 161 93.5% 30.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 91% 71%;
    --destructive-foreground: 0 86% 97%;
    --destructive-50: 0 86% 97%;
    --destructive-100: 0 93% 94%;
    --destructive-200: 0 96% 89%;
    --destructive-300: 0 94% 82%;
    --destructive-400: 0 91% 71%;
    --destructive-500: 0 84% 60%;
    --destructive-600: 0 72% 51%;
    --destructive-700: 0 74% 42%;
    --destructive-800: 0 70% 35%;
    --destructive-900: 0 63% 31%;
    --destructive-950: 0 75% 15%;
    --success: 158 64% 52%;
    --success-foreground: 152 81% 96%;
    --success-50: 152 81% 96%;
    --success-100: 149 80% 90%;
    --success-200: 152 76% 80%;
    --success-300: 156 72% 67%;
    --success-400: 158 64% 52%;
    --success-500: 160 84% 39%;
    --success-600: 161 94% 30%;
    --success-700: 163 94% 24%;
    --success-800: 163 88% 20%;
    --success-900: 164 86% 16%;
    --success-950: 166 91% 9%;
    --warning: 43 96% 56%;
    --warning-foreground: 48 100% 96%;
    --warning-50: 48 100% 96%;
    --warning-100: 48 96% 89%;
    --warning-200: 48 97% 77%;
    --warning-300: 46 97% 65%;
    --warning-400: 43 96% 56%;
    --warning-500: 38 92% 50%;
    --warning-600: 32 95% 44%;
    --warning-700: 26 90% 37%;
    --warning-800: 23 83% 31%;
    --warning-900: 22 78% 26%;
    --warning-950: 21 92% 14%;
    --border: 255 20% 18%;
    --input: 240 5% 26%;
    --ring: 161 93.5% 30.4%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  :not(.scrollbar-thin) {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: hsl(var(--background));
    }

    &::-webkit-scrollbar-thumb {
      background: hsl(var(--muted));
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: hsl(var(--muted));
    }
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
  }
}

emoji-picker {
  border-radius: theme("borderRadius.lg");
  border: 1px solid theme("colors.border");
  background: theme("colors.background");
  box-shadow: theme("boxShadow.lg");
}
