<.flash flash={@flash} kind={:info} />
<.flash flash={@flash} kind={:note} />
<.flash flash={@flash} kind={:error} />
<.connection_status>
  Re-establishing connection...
</.connection_status>

<.live_component module={AlgoraWeb.LayoutComponent} id="layout" />

<div class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
  {@inner_content}
</div>
